aside.logo {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

aside.logo img {
    /* padding: 0px 15px; */
    width: 100%;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}

/************* Media Querie ****************/

/* Mobile */
@media (max-width: 480px) {}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1919px) {}

/* Extra large screens */
@media (min-width: 1920px) {}