main > div {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.377);
  backdrop-filter: saturate(180%) blur(15px);
  border-radius: 20px;
  margin: 30px;
  font-size: 1.2em;
  display: table;
  @media screen and (max-width: 580px) {
    display: block;
  }
}

label {
  color: #ffb834;
  font-weight: 600;
}

th,
td {
  display: table-cell;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

tr {
  display: table-row;
}

/************* Media Querie ****************/

/* Mobile */
@media (max-width: 480px) {
  main div {
    margin-top: 150px !important;
  }

  div .form {
    display: none;
  }

  th,
  td {
    display: block;
  }

  th {
    display: none;
  }

  th::before,
  td::before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    text-transform: uppercase;
    display: block;
  }

  td::before {
    color: #ffb834;
    font-weight: 900;
  }

  tr {
    /* background: #f6f6f6; */

    &:nth-of-type(odd) {
      background: #ececec;
      color: var(--bg-dark);
    }
  }
}

/* Small devices */
@media (min-width: 481px) and (max-width: 767px) {
  main > div {
    font-size: 1.2rem;
  }

  div .table {
    font-size: 1rem;
  }
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 990px) {
}

@media (max-width: 991px) {
  main > div {
    margin: 20px;
  }

  .display-3 {
    font-size: 50px;
    text-align: center;
  }
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  div .form {
    font-size: 1vw;
  }

  div .form .form-control {
    font-size: 1vw;
  }

  div .form .btn {
    font-size: 1vw;
  }

  div .table {
    font-size: 1vw;
  }

  div .table .btn {
    font-size: 1vw;
  }
}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1919px) {
  div .form {
    font-size: 1rem;
  }

  div .table {
    font-size: 1rem;
  }
}
